<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    
    

</head>

<body>
    <div class="container">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1 class="text-center">Max's 1RM Estimates</h1>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><canvas id="chart_1"></canvas></div>
        </div>
        <div class="row">   
            <div class="col-sm-6"><canvas id="chart_2"></canvas></div>
            <div class="col-sm-6"><canvas id="chart_3"></canvas></div>
        </div>
    </div>
</div>


<script>

fetch('/api/data')
    .then(response => response.json())
    .then(responseData => {renderData(responseData);})                     
    .catch(error => {
        console.error('Error:', error);
    });

function renderData(responseData) {
    new Chart(document.getElementById('chart_1'), {
        type: 'line',
        data: {
            labels: responseData.date,
            datasets: [{
                label: 'Bench Press',
                data: responseData.data,

            }]
        }
    });
}

/*
var chart_2 = new Chart(document.getElementById('chart_2'), {
    type: 'line',
    data: {
        labels: {{data}},
        datasets: [{
            label: 'Deadlift',
            data: {{data}},

        }]
    }

});
var chart_3 = new Chart(document.getElementById('chart_3'), {
    type: 'line',
    data: {
        labels: {{data}},
        datasets: [{
            label: 'Squat',
            data: {{data}},

        }]
    }

});
*/
</script>
</body>
</html>